@using System.Text.Json
@using System.Text.Json.Serialization
@model TacoGaugeLayout

@{
    var id = $"textGaugeModel{Model.DefValueId}";
}
<div class="gauge-container text">
    <div class="text-data">
        <h1 id="@id" data-layout="@JsonSerializer.Serialize(Model)" data-id="@Model.DefValueId"
            kendo-type="label" gauge-type="text"></h1>
    </div>
    <label for="@id" id="label@(id)">@Model.Name</label>
</div>
